<html>
<head>
	<title>Test Web</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
 
	<!-- Compiled and minified CSS -->

	 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

	 <!-- Compiled and minified JavaScript -->
	 <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
				 
</head>	

<body>
	
					

	<div class="container">
			  
					

	<!-- <h2>Demo Form </h2> -->


	<!-- <form method="post"> -->
		<!-- {{ form.namaUser.label }} {{ form.namaUser() }} <br>
		{{ form.kataSandi.label }} {{ form.kataSandi() }} <br>
		<button class="btn waves-effect waves-light" type="submit" name="action">Submit
		 -->
		<!-- </button>
	</form>  -->

	</form>	
				  <!-- Page Content goes here -->
				</div>

				<div id="login-page" class="row">
						<div class="col s12 z-depth-6 card-panel">
						  <form class="login-form" method="POST">
							<div class="row">
							</div>
							<div class="row">
							  <div class="input-field col s12">
								<!-- <i class="material-icons prefix">mail_outline</i> -->
								{{ form.namaUser.label }} {{ form.namaUser() }}
							  </div>
							</div>
							<div class="row">
							  <div class="input-field col s12">
								<!-- <i class="material-icons prefix">lock_outline</i> -->
								{{ form.kataSandi.label }} {{ form.kataSandi() }} <br>
							  </div>
							</div>
							<div class="row">          
							  <div class="input-field col s12 m12 l12  login-text">
								  <input type="checkbox" id="remember-me" />
								  <label for="remember-me">Remember me</label>
							  </div>
							</div>
							<div class="row">
							  <div class="input-field col s12">
								<button class="btn waves-effect waves-light col s12" type="submit" name="action">Submit
								</button>
							  </div>
							</div>
							{% if pesan %}
							<p style="color:red">{{ pesan }}</p>
							{% endif %}
					
							<div class="row">
							  <div class="input-field col s6 m6 l6">
								<p class="margin medium-small"><a href="#">Register Now!</a></p>
							  </div>
							  <div class="input-field col s6 m6 l6">
								  <p class="margin right-align medium-small"><a href="#">Forgot password?</a></p>
							  </div>          
							</div>
					
						  </form>
						</div>

</body>	
</html>	
